footer { 
    margin: 20px;
    padding: 15px;
    background-color: #948c75 ;
    border-radius: 10px;
    border: solid;
    border-color: #7a6a53;
    font-family: 'Electrolize', sans-serif;
    text-transform: uppercase;
    display: grid ;
    flex-flow: row nowrap;

}