main h3 { 
    font-family: 'Electrolize', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
main section article div .listaDescriptiva {
	text-align: center;
	text-transform: uppercase;
}
main section article div .buscaRemoto {

    font-family:'Electrolize', sans-serif;

}
