main {
    text-transform: uppercase;
    h2 , .textoUbi{
        text-align: center;
       

    }


}
.mainIndex {
   


    h2,
    section article .listaDescriptiva,
    section .bsqdRemoto h3 {

        text-align: center;

    }



    section .bsqdRemoto .buscaRemoto .btnRemoto {

        border-color:$back-border-color;
        border: solid;
        background-color: $bg-btn;
        border-radius: 5px;
        color: $celestito;

        &:hover {   
            background-color:$color-fondo;
        }


    }

}



.mainFormulario {
    display: flex;
    justify-content: center;
    align-content: center;

    


    .formulario {
        display: inline-block;
        border-color: $back-border-color;
        

        select option {
            text-transform: uppercase;
        }


        .btnEnvio {
            border-color: $back-border-color;
            border: solid;
            background-color: $bg-btn   ;
            border-radius: 5px;
            color: $celestito;
            margin: 15px;
            padding: 10px;

            &:hover {   
                background-color: $color-fondo;
            }

        }



    }

}


.mainCartas {
    .Cartas {

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        column-gap: 5px;
        row-gap: 25px;


        .textoCartas {
            
            text-align: center;



        }

        .carta {
            background-color: $back-border-color;



        }

    }
}